{% extends 'base.html.twig' %}

{% block title %}VitrineTux index{% endblock %}

{% block body %}
    <h1>VitrineTux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ispublic</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vitrine_tux in vitrine_tuxes %}
            <tr>
                <td>{{ vitrine_tux.id }}</td>
                <td>{{ vitrine_tux.ispublic ? 'Yes' : 'No' }}</td>
                <td>{{ vitrine_tux.name }}</td>
                <td>
                    <a href="{{ path('app_vitrine_tux_show', {'id': vitrine_tux.id}) }}">show</a>
                    <a href="{{ path('app_vitrine_tux_edit', {'id': vitrine_tux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vitrine_tux_new') }}">Create new</a>
{% endblock %}
