{% extends 'base.html.twig' %}

{% block title %}VitrineTux{% endblock %}

{% block main %}
    <h1>VitrineTux</h1>

    <h2>[Objets]</h2>
        <ul>
            {% for carte in vitrine.cartestux %}
            <li>
                <a href="{{ path('app_vitrine_carte_show', {'vitrine_id': vitrine.id, 'carte_id' : carte.id}) }}">{{ carte }}</a>
            </li>
            {% endfor %}
        </ul>


    <a href="{{ path('app_vitrine_tux_index') }}">back to list</a>

    <a href="{{ path('app_vitrine_tux_edit', {'id': vitrine.id}) }}">edit</a>

    {{ include('vitrine_tux/_delete_form.html.twig') }}
{% endblock %}
