{% extends 'base.html.twig' %}

{% block title %}VitrineTux{% endblock %}

{% block main %}
<div class="text-center">
    <h1 class="mb-3">Vitrine "{{ vitrine_tux.name }}"</h1>
        <ul>
            {% for carte in vitrine_tux.cartestux %}
                <a href="{{ path('app_vitrine_carte_show', {'carte_id': carte.id, 'vitrine_id': vitrine_tux.id}) }}" class="btn btn-success">
                    <img src={{vich_uploader_asset(carte,'imageFile')}} class="img-fluid" alt="carte" />
                    <br>
                    <p class="text-center"><h5>{{ carte }}</h5></p>
                </a>
            {% endfor %}
        </ul>


    <a href="{{ path('app_vitrine_tux_index') }}", class="btn btn-primary">Retour aux Vitrines</a>
</div>
{% endblock %}
