{% extends 'base.html.twig' %}

{% block title %}Éditer {{membre_tux.pseudo}}{% endblock %}

{% block main %}

    {% if 'ROLE_ADMIN' in app.user.roles %}

        <h1>Éditer {{membre_tux.pseudo}}</h1>
        {{ include('membre_tux/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('app_membre_tux_index') }}", class="btn btn-primary">Retour à la liste</a>
        {{ include('membre_tux/_delete_form.html.twig') }}

    {% else %}

        <h1>Éditer mon profil</h1>
        {{ include('membre_tux/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('app_membre_tux_show',{'id':membre_tux.id}) }}", class="btn btn-primary">Retour au profil</a>

    {% endif %}

{% endblock %}
