{% extends 'base.html.twig' %}

{% block title %}MembreTux{% endblock %}

{% block main %}
    <h1>MembreTux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre_tux.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ membre_tux.role }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ membre_tux.pseudo }}</td>
            </tr>
            <tr>
                <th>Classeurs</th>
                {% for classeur in membre_tux.classeurstux %}
                    <td><a href="{{ path('app_classeur_tux_show', {'id' : classeur.id}) }}">{{ classeur }}</a></td>
                {% endfor %}
            </tr>

        </tbody>
    </table>
    <a href="{{ path('app_classeur_tux_new', {'id': membre_tux.id}) }}">add new ClasseurTux</a><br>
    <a href="{{ path('app_vitrine_tux_new', {'id': membre_tux.id}) }}">add new VitrineTux</a><br>
    <a href="{{ path('app_membre_tux_index') }}">back to list</a>
{% endblock %}
